.heroStyleContainer{
    width: 100%;

   
}

.heroImageContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.heroImage{
    width: 100%;
    height: 70vh;
    object-fit: cover;
   }
.arrowRight{
    position: absolute;
    right: 100px;
    top: 50%;
    background-color: transparent;
    border: none;
}


.arrowLeft{
    position: absolute;
    left: 100px;
    top: 50%;
    background-color: transparent;
    border: none;
}

.heroBoks{
    position: absolute;
    bottom: -70px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--secondary-green);
    h2{
        font-weight: 100;
    }

    .buttonContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        position: relative;
       
    }
    
    
}