.footer {
  background-color: var(--primary-green);
  color: white;
  padding: 20px;
  margin: 0;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;

  .leftContent {
    flex: 1;
  }

  .rightContent {
    text-align: right;
  }

  .backToTop {
    display: inline-block;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
