.figureContainer{
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: auto;
    margin-top: 400px;
}

figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    
    figcaption{
        text-align: center;
        
        left: 0;
        top: 20%;
       
    }

    article{
       width: 500px;
    }

    .buttonContainer{
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    
}